body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.buttons_div {
    height: 50px;
    width: 500px;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.25fr 0.25fr; 
    /* to adjust distance btw buttons */
    column-gap: 18vh;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    /* height: 50px; */
    /* width: 10px; */
    font-size:30px;
}

#button_yes {
    
}

#button_no {
     
}

