body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: black;
}

.buttons_div {
    height: auto;
    width: 80%;
    max-width: 500px;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.4fr 0.4fr;
    /* for adjusting button width */
    column-gap: 15vh;
    padding: 10px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    font-size: 30px;
    background-color: grey;
    color: white;
    border-radius: 20px;
}

#button_no {
    margin-left: 40vh;
    width: 155px;
    position: absolute; 
    transition: linear 0.2s;
}

@media only screen and (max-width: 600px) {
    body {
        height: auto;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        margin: 0; 
        background-color: black;
    }
    
    .buttons_div {
        height: auto;
        width: 100%;
        max-width: 500px;
        border: 1px solid black;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 0.4fr;
        /* !! don't forget to change in the height section */
        /* for adjusting button width */
        row-gap:10px;
        padding: 10px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid black;
        font-size: 25px;
        background-color: grey;
        color: white;
        border-radius: 20px;
    }
    #button_no {
        margin-left: 0;
        position: relative;
        width: 100%;
        transition: linear 0.2s;
    }
}

@media only screen and (max-height: 600px) {
    body {
        height: auto;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        margin: 0; 
        background-color: black;
    }
    
    .buttons_div {
        height: auto;
        width: 100%;
        max-width: 500px;
        border: 1px solid black;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 0.4fr;
        /* !! don't forget to change in the width section */
        /* for adjusting button width */
        row-gap:10px;
        padding: 10px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid black;
        font-size: 25px;
        background-color: grey;
        color: white;
        border-radius: 20px;
    }
    #button_no {
        margin-left: 0;
        position: relative;
        width: 100%;
        transition: linear 0.2s;
    }
}